
<div class="bg-gray-100">
    <div class="container mx-auto pt-24">
        <div class="text-center mb-12">
            <h2 class="text-sm text-teal-700 uppercase">
            Blog and News
            </h2>
            <h1 class="text-4xl font-bold text-gray-800">
            Better Digital Insurance Begins Right Here
            </h1>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-8 p-4">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden">
        <img alt="A man and a woman in a car, the man is showing an OK sign with his hand" class="w-full h-48 object-cover" height="400" src="assets\images\family_pic\family_pic_2.png" width="600"/>
            <div class="p-6">
                <div class="flex items-center justify-between mb-4">
                <span class="text-xs text-teal-700">
                BY ADMIN | INSURANCE
                </span>
                <span class="bg-teal-700 text-white text-xs px-2 py-1 rounded">
                14 AUG 2021
                </span>
            </div>
                <h2 class="text-lg font-bold text-gray-800 mb-4">
                    What Is Personal Liability Umbrella Coverage
                </h2>
                <a class="text-teal-700 border border-teal-700 rounded px-4 py-2 inline-block hover:bg-teal-700 hover:text-white" href="#">
                Read More
                </a>
        </div>
            </div>
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
       <img alt="Two children playing and running inside a house" class="w-full h-48 object-cover" height="400" src="assets\images\family_pic\kids.png" width="600"/>
       <div class="p-6">
        <div class="flex items-center justify-between mb-4">
         <span class="text-xs text-teal-700">
          BY ADMIN | INSURANCE
         </span>
         <span class="bg-teal-700 text-white text-xs px-2 py-1 rounded">
          14 AUG 2021
         </span>
        </div>
        <h2 class="text-lg font-bold text-gray-800 mb-4">
         Insurance Covers Risk Of Fire Absence Of Fire Insurance
        </h2>
        <a class="text-teal-700 border border-teal-700 rounded px-4 py-2 inline-block hover:bg-teal-700 hover:text-white" href="#">
         Read More
        </a>
       </div>
      </div>
      <div class="bg-white rounded-lg shadow-lg overflow-hidden">
       <img alt="A happy family with grandparents and a child" class="w-full h-48 object-cover" height="400" src="assets\images\family_pic\family_pic_8.png" width="600"/>
       <div class="p-6">
        <div class="flex items-center justify-between mb-4">
         <span class="text-xs text-teal-700">
          BY ADMIN | INSURANCE
         </span>
         <span class="bg-teal-700 text-white text-xs px-2 py-1 rounded">
          14 AUG 2021
         </span>
        </div>
        <h2 class="text-lg font-bold text-gray-800 mb-4">
         Ambulance Cover Of Fire On Insurance Serving
        </h2>
        <a class="text-teal-700 border border-teal-700 rounded px-4 py-2 inline-blockn hover:bg-teal-700 hover:text-white" href="#">
         Read More
        </a>
       </div>
      </div>
     </div>
    </div>
</div>