
<div class="bg-white text-gray-800">
    <div class="text-center py-12">
     <h2 class="text-sm text-teal-700 uppercase">
      Expert Team
     </h2>
     <h1 class="text-4xl font-bold mt-2">
      Meet Our Team Expert &amp; <br>Experience Members
     </h1>
    </div>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
     <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
       <img alt="Portrait of Mesiva Sccot, Marketing Ex." class="w-full" height="400" src="assets\images\team_pic\expert_1.png" width="600"/>
       <div class="p-6">
        <h3 class="text-lg font-bold">
         Mesiva Sccot
        </h3>
        <p class="text-gray-600">
         Marketing Ex.
        </p>
        <div class="mt-4 flex justify-center space-x-4">
         <a class="text-teal-700" href="#">
          <i class="fab fa-facebook-f">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-twitter">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-instagram">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-linkedin-in">
          </i>
         </a>
        </div>
       </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
       <img alt="Portrait of Jeson Thomson, Marketing Ex." class="w-full" height="400" src="assets\images\team_pic\expert_2.png" width="600"/>
       <div class="p-6">
        <h3 class="text-lg font-bold">
         Jeson Thomson
        </h3>
        <p class="text-gray-600">
         Marketing Ex.
        </p>
        <div class="mt-4 flex justify-center space-x-4">
         <a class="text-teal-700" href="#">
          <i class="fab fa-facebook-f">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-twitter">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-instagram">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-linkedin-in">
          </i>
         </a>
        </div>
       </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
       <img alt="Portrait of Kohn Wright, Marketing Ex." class="w-full" height="400" src="assets\images\team_pic\expert_3.png" width="600"/>
       <div class="p-6">
        <h3 class="text-lg font-bold">
         Kohn Wright
        </h3>
        <p class="text-gray-600">
         Marketing Ex.
        </p>
        <div class="mt-4 flex justify-center space-x-4">
         <a class="text-teal-700" href="#">
          <i class="fab fa-facebook-f">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-twitter">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-instagram">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-linkedin-in">
          </i>
         </a>
        </div>
       </div>
      </div>
      <div class="bg-white shadow-lg rounded-lg overflow-hidden">
       <img alt="Portrait of Andrew Schimke, Marketing Ex." class="w-full" height="400" src="assets\images\team_pic\expert_4.png" width="600"/>
       <div class="p-6">
        <h3 class="text-lg font-bold">
         Andrew Schimke
        </h3>
        <p class="text-gray-600">
         Marketing Ex.
        </p>
        <div class="mt-4 flex justify-center space-x-4">
         <a class="text-teal-700" href="#">
          <i class="fab fa-facebook-f">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-twitter">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-instagram">
          </i>
         </a>
         <a class="text-teal-700" href="#">
          <i class="fab fa-linkedin-in">
          </i>
         </a>
        </div>
       </div>
      </div>
      
     </div>
     
    </div>
    <div class="text-center my-8">
        <p class="text-teal-700">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum.<br> Urna eu et purus et mi sit rhoncus
         <a class="text-teal-600 font-semibold" href="#">
          View All
         </a>
        </p>
       </div>
</div>


  