<div class="bg-red-100">
    <div class=" bg-gray-100 relative">
        <div class="container mx-auto px-6 lg:flex lg:items-center lg:justify-between z-1">
            <div class="lg:w-1/2">
                <h1 class="text-6xl font-bold text-black mb-4">
                    Take The Worry Out Of Life With
                    <span class="text-teal-700">
                    Insurance
                    </span>
                    Protection
                </h1>
                    <p class="text-xl text-gray-600 mb-6">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus. Id nisl quis arcu nulla leo nulla cras justo consectetur adipiscing elit.
                    </p>
                <div class="flex space-x-4">
                    <a class="bg-teal-700 text-white px-6 py-3 rounded-md" href="#">
                    Get Started
                    </a>
                    <a class="bg-white text-teal-700 border border-teal-700 px-6 py-3 rounded-md hover:bg-teal-700 hover:text-white" href="#">
                    Contact Us
                    </a>
                </div>
            </div>
            <div class=" lg:w-1/2 mt-8 lg:mt-0">
                <img alt="" class="w-full" height="400" src="assets\images\family_pic\father_daughter_image.png" width="600"/>
            </div>
        </div>

        <div class="bg-white">
            <svg  viewBox="0 220 1440 120" xmlns="http://www.w3.org/2000/svg">
            <path fill="rgba(243, 244, 246, 1)" d="M0,320 Q720,120 1440,320 L1440,0 L0,0 Z"></path>
            <!-- <path fill="rgba(243, 244, 246, 1)" d= d="M0,0 Q720,520 1440,0 L1440,320 L0,320 Z"></path> -->
            </svg>
        </div>
        
    </div>
    


    <section class="pb-12 bg-white relative">
     <div class="container mx-auto px-6 text-center">

      <h2 class="text-teal-700 font-semibold mb-2">
       OUR FEATURES
      </h2>
      <h3 class="text-4xl font-bold text-gray-800 mb-8">
       Better Digital Insurance Begins<br> Right Here
      </h3>
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
       <div class="bg-gray-50 p-6 rounded-lg shadow-lg">
        <div class="text-teal-700 text-4xl mb-4">
         <i class="fas fa-money-bill">
         </i>
        </div>
        <h4 class="text-xl font-semibold mb-2">
         Money Back Guarantee
        </h4>
        <p class="text-gray-600">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.
        </p>
       </div>
       <div class="bg-gray-50 p-6 rounded-lg shadow-lg">
        <div class="text-teal-700 text-4xl mb-4">
         <i class="fas fa-clipboard-list">
         </i>
        </div>
        <h4 class="text-xl font-semibold mb-2">
         All Claims At Anytime
        </h4>
        <p class="text-gray-600">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.
        </p>
       </div>
       <div class="bg-gray-50 p-6 rounded-lg shadow-lg">
        <div class="text-teal-700 text-4xl mb-4">
         <i class="fas fa-file-alt">
         </i>
        </div>
        <h4 class="text-xl font-semibold mb-2">
         Digital Insurance Policy
        </h4>
        <p class="text-gray-600">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.
        </p>
       </div>
       <div class="bg-gray-50 p-6 rounded-lg shadow-lg">
        <div class="text-teal-700 text-4xl mb-4">
         <i class="fas fa-mobile-alt">
         </i>
        </div>
        <h4 class="text-xl font-semibold mb-2">
         Direct Payment App
        </h4>
        <p class="text-gray-600">
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed.
        </p>
       </div>
      </div>
     </div>
    </section>
</div>