<div class=" curve-divider bg-white ">
    <svg  viewBox="0 220 1440 120" xmlns="http://www.w3.org/2000/svg">
    <path fill="#F3F4F6" d="M0,320 Q720,120 1440,320 L1440,0 L0,0 Z"></path>
    </svg>
</div>
<div class="bg-white flex items-center justify-center">
    <div class="text-center max-w-2xl mx-auto pb-12">
     <p class="text-teal-700 font-semibold">
      READY TO GET STARTED
     </p>
     <h1 class="text-4xl font-bold text-gray-800 mt-2">
      Get The Latest Insurance News In Minutes
     </h1>
     <p class="text-gray-700 mt-4">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis placerat arcu nibh sed placerat elementum. Urna eu et purus et mi sit rhoncus..
     </p>
     <div class="mt-8 flex justify-center">
      <input class="p-3 border border-gray-300 rounded-l-md w-80 focus:outline-none" placeholder="Email address" type="email"/>
      <button class="bg-teal-600 text-white px-6 py-3 rounded-r-md hover:bg-teal-700 focus:outline-none">
       Subscribe
      </button>
     </div>
    </div>
</div>